# Created by venv; see https://docs.python.org/3/library/venv.html
/torch_env
/dog-cat-classifier-main
Transfer_Learning_img_classfxn/Rotten-apples-detection-5/
peacock.jpg
imagenet_classes.txt
Transfer_Learning_img_classfxn/models/
Transfer_Learning_img_classfxn/Rotten-apples-detection-5/